@charset "UTF-8";
.top-bar {
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  color: white;
  line-height: 1.5;
  background-image: linear-gradient(to right, #333399, #3366FF); }
  .top-bar-title {
    flex: 0 0 83.3333%; }

.nav-bar {
  /*去除浏览器默认8px留白*/
  /*通用样式*/
  /*关闭文本选中*/
  /*消除段落默认空隙。*/
  /*轻细标题*/
  /*图片大小始终填满父布局。（默认原图大小）*/
  /*BFC 与 清除浮动*/
  /*用于背景*/
  /*用于字体*/
  /*基础button*/
  /*外边框样式button*/
  /*链接样式*/
  /*hover样式*/
  /*按钮组*/
  /*hover时显示下拉菜单*/
  /*bfc--> 防止margin-top子元素与父元素一起偏移。*/ }
  .nav-bar body {
    margin: 0;
    padding: 0; }
  .nav-bar * {
    /*统一字体。字体不同，不同组件的宽高右差异。*/
    font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    /*修改盒子*/
    box-sizing: border-box;
    /*单词换行*/
    word-break: break-all;
    /*其他可选*/
    line-height: 1.5; }
  .nav-bar a,
  .nav-bar span {
    user-select: none; }
  .nav-bar h1,
  .nav-bar h2,
  .nav-bar h3,
  .nav-bar h4,
  .nav-bar h5,
  .nav-bar h6,
  .nav-bar p {
    margin: 0;
    padding: 0; }
  .nav-bar h1,
  .nav-bar h2,
  .nav-bar h3,
  .nav-bar h4,
  .nav-bar h5,
  .nav-bar h6 {
    font-weight: 300;
    /*默认下边距离 .2rem*/
    margin-bottom: 1.2rem; }
  .nav-bar p {
    font-weight: 400;
    margin-bottom: 1rem; }
  .nav-bar a {
    color: #000;
    text-decoration: none; }
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav-bar ul > li {
      display: table-cell; }
  .nav-bar img {
    width: 100%;
    height: 100%;
    /*width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;*/
    /*与文字中线对齐。*/
    vertical-align: middle; }
  .nav-bar .bg-blue,
  .nav-bar .bg-primary {
    background-color: #007bff; }
  .nav-bar .bg-green,
  .nav-bar .bg-success {
    background-color: #28a745; }
  .nav-bar .bg-tea,
  .nav-bar .bg-info {
    background-color: #17a2b8; }
  .nav-bar .bg-yellow,
  .nav-bar .bg-warning {
    background-color: #ffc107; }
  .nav-bar .bg-red,
  .nav-bar .bg-danger {
    background-color: #dc3545; }
  .nav-bar .bg-gray,
  .nav-bar .bg-secondary {
    background-color: #6c757d; }
  .nav-bar .bg-dark {
    background-color: #343a40; }
  .nav-bar .bg-light {
    background-color: #f8f9fa; }
  .nav-bar .text-blue,
  .nav-bar .text-primary {
    color: #007bff; }
  .nav-bar .text-green,
  .nav-bar .text-success {
    color: #28a745; }
  .nav-bar .text-tea,
  .nav-bar .text-info {
    color: #17a2b8; }
  .nav-bar .text-yellow,
  .nav-bar .text-warning {
    color: #ffc107; }
  .nav-bar .text-red,
  .nav-bar .text-danger {
    color: #dc3545; }
  .nav-bar .text-gray,
  .nav-bar .text-secondary {
    color: #6c757d; }
  .nav-bar .text-dark {
    color: #343a40; }
  .nav-bar .text-light {
    color: #f8f9fa; }
  .nav-bar .text-white {
    color: #fff; }
  .nav-bar .btn, .nav-bar .btn-outline-blue, .nav-bar .btn-link {
    display: inline-block;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
    /*指定字体大小(可修改)*/
    font-size: 1rem;
    line-height: 1.5;
    /*取消button样式边框*/
    border: 1px solid transparent;
    /*文字不换行居中*/
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*关闭文本选中*/
    user-select: none;
    /*与其他button垂直居中对其*/
    vertical-align: middle;
    /*颜色等过渡*/
    transition: .15s; }
  .nav-bar button:focus {
    /*取消button点击时，浅蓝色外边框*/
    outline: 0; }
  .nav-bar .btn-outline-blue {
    border: solid 1px #007bff;
    color: #007bff;
    /*取消button背景灰色*/
    background-color: white; }
    .nav-bar .btn-outline-blue:hover {
      border: solid 1px transparent;
      background-color: #007bff;
      color: white; }
  .nav-bar .btn-link {
    background-color: transparent;
    color: #007bff; }
    .nav-bar .btn-link:hover {
      color: #0056b3;
      text-decoration: underline; }
  .nav-bar .btn-hover:hover {
    color: #000;
    background: #ccc; }
  .nav-bar .btn-hover-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); }
  .nav-bar .btn-bar {
    /*单独文件需要添加。*/
    /*去除浏览器默认8px留白*/
    /*通用样式*/
    /*关闭文本选中*/
    /*消除段落默认空隙。*/
    /*轻细标题*/
    /*图片大小始终填满父布局。（默认原图大小）*/
    /*BFC 与 清除浮动*/
    /*bfc--> 防止margin-top子元素与父元素一起偏移。*/
    background-color: yellow; }
    .nav-bar .btn-bar body {
      margin: 0;
      padding: 0; }
    .nav-bar .btn-bar * {
      /*统一字体。字体不同，不同组件的宽高右差异。*/
      font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
      /*修改盒子*/
      box-sizing: border-box;
      /*单词换行*/
      word-break: break-all;
      /*其他可选*/
      line-height: 1.5; }
    .nav-bar .btn-bar a,
    .nav-bar .btn-bar span {
      user-select: none; }
    .nav-bar .btn-bar h1,
    .nav-bar .btn-bar h2,
    .nav-bar .btn-bar h3,
    .nav-bar .btn-bar h4,
    .nav-bar .btn-bar h5,
    .nav-bar .btn-bar h6,
    .nav-bar .btn-bar p {
      margin: 0;
      padding: 0; }
    .nav-bar .btn-bar h1,
    .nav-bar .btn-bar h2,
    .nav-bar .btn-bar h3,
    .nav-bar .btn-bar h4,
    .nav-bar .btn-bar h5,
    .nav-bar .btn-bar h6 {
      font-weight: 300;
      /*默认下边距离 .2rem*/
      margin-bottom: 1.2rem; }
    .nav-bar .btn-bar p {
      font-weight: 400;
      margin-bottom: 1rem; }
    .nav-bar .btn-bar a {
      color: #000;
      text-decoration: none; }
    .nav-bar .btn-bar ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .nav-bar .btn-bar ul > li {
        display: table-cell; }
    .nav-bar .btn-bar img {
      width: 100%;
      height: 100%;
      /*width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;*/
      /*与文字中线对齐。*/
      vertical-align: middle; }
    .nav-bar .btn-bar::before {
      content: "";
      display: table; }
    .nav-bar .btn-bar::after {
      content: "";
      clear: both;
      display: table; }
    .nav-bar .btn-bar .btn, .nav-bar .btn-bar .btn-outline-blue, .nav-bar .btn-bar .btn-link {
      border-radius: 0; }
  .nav-bar .dropdown, .nav-bar .dropdown-hover {
    display: inline-block;
    position: relative; }
    .nav-bar .dropdown-btn {
      padding: .375rem .75rem;
      color: white;
      background-color: #343a40;
      user-select: none;
      cursor: pointer; }
      .nav-bar .dropdown-btn:hover {
        background-color: rgba(52, 58, 64, 0.8); }
    .nav-bar .dropdown-content {
      display: none;
      position: absolute;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      background: #f9f9f9;
      transition: 3s;
      /*同父布局同宽*/ }
      .nav-bar .dropdown-content a {
        display: block;
        width: 10rem;
        padding: .5rem 1rem;
        /*先触发父类:hover, 之后是子类的:hover生效*/ }
        .nav-bar .dropdown-content a:hover {
          background: #e0e0e0; }
  .nav-bar .dropdown-hover:hover .dropdown-content {
    display: block; }
  .nav-bar .show {
    display: block; }
  .nav-bar::before {
    content: "";
    display: table; }
  .nav-bar::after {
    content: "";
    clear: both;
    display: table; }
  .nav-bar-brand {
    float: left;
    height: 35.2px;
    width: 120px;
    margin-right: .75rem;
    background: url("./logo-white.svg") no-repeat center; }
  .nav-bar-left {
    float: left; }
  .nav-bar-right {
    float: right; }
  .nav-bar li > a {
    display: inline-block;
    padding: .45rem .7rem;
    font-size: .875rem;
    color: white;
    text-decoration: none; }
