@charset "UTF-8";
/*基础button*/
.btn {
  display: inline-block;
  padding: .375rem .75rem;
  border-radius: .25rem;
  cursor: pointer;
  /*指定字体大小(可修改)*/
  font-size: 1rem;
  line-height: 1.5;
  /*取消button样式边框*/
  border: 1px solid transparent;
  /*文字不换行居中*/
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*与其他button垂直居中对其*/
  vertical-align: middle;
  /*颜色等过渡*/
  transition: .15s; }

button:focus {
  /*取消button点击时，浅蓝色外边框*/
  outline: 0; }

/*外边框样式button*/
.btn-outline-blue {
  border: solid 1px #007bff;
  color: #007bff;
  /*取消button背景灰色*/
  background-color: white; }
  .btn-outline-blue:hover {
    border: solid 1px transparent;
    background-color: #007bff;
    color: white; }

/*链接样式*/
.btn-link {
  background-color: transparent;
  color: #007bff; }
  .btn-link:hover {
    color: #0056b3;
    text-decoration: underline; }

/*hover样式*/
.btn-hover:hover {
  color: #000;
  background: #ccc; }

.btn-hover-shadow:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); }

/*按钮组*/
.btn-bar {
  background-color: yellow; }
  .btn-bar .btn {
    float: left; }
  .btn-bar .btn:last-of-type {
    float: right; }
  .btn-bar::after {
    content: "";
    clear: both;
    display: table; }
