/*基础button*/
.btn {
    display: inline-block;
    padding: .375rem .75rem;
    border-radius: .25rem;
    cursor: pointer;

    /*指定字体大小(可修改)*/
    font-size: 1rem;
    line-height: 1.5;

    /*取消button样式边框*/
    border: 1px solid transparent;

    /*文字不换行居中*/
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /*关闭文本选中*/
    user-select: none;

    /*与其他button垂直居中对其*/
    vertical-align: middle;

    /*颜色等过渡*/
    transition: .15s;
}

button:focus {
    /*取消button点击时，浅蓝色外边框*/
    outline: 0;
}


/*外边框样式button*/
.btn-outline-blue {
    @extend .btn;
    $blue: #007bff;

    border: solid 1px $blue;
    color: $blue;

    /*取消button背景灰色*/
    background-color: white;

    &:hover {
        border: solid 1px transparent;
        background-color: $blue;
        color: white;
    }
}

/*链接样式*/
.btn-link {
    @extend .btn;

    background-color: transparent;
    color: #007bff;

    &:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}

/*hover样式*/
.btn-hover:hover {
    color: #000;
    background: #ccc;
}

.btn-hover-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
        0 6px 20px rgba(0, 0, 0, 0.19);
}


/*按钮组*/
.btn-bar{
    /*单独文件需要添加。*/
    @import '../common/common';

    @include clearfix;

    background-color: yellow;

    & .btn {
        border-radius: 0;

    }

    // & :nth-child(1),
    // & :nth-child(2) {
    //     // float: left;

    // }

    // & :nth-child(3) {
        // float: right;
    // }

}