/*去除浏览器默认8px留白*/
body {
    margin: 0;
    padding: 0
}

/*通用样式*/
* {
    /*统一字体。字体不同，不同组件的宽高右差异。*/
    font-family: Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;

    /*修改盒子*/
    box-sizing: border-box;

    /*单词换行*/
    word-break: break-all;

    /*其他可选*/
    line-height: 1.2;  // 行间距大一点。
    // font-size: 1rem;
    // color: #242a40;
    // background-color: #f4f5f6;
    // user-select: none;
}

/*关闭文本选中*/
a,
span {
    user-select: none;
}

/*消除段落默认空隙。*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/*轻细标题*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400; 

    /*默认下边距离 .2rem*/
    // margin-bottom: 1.2rem;
}

p {
    font-weight: 400;
    // margin-bottom: 1rem;
}

a {
    color: #000; // 设置默认hover、active颜色
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    & > li {
        // 显示在同一行，且消除空隙。
        display: table-cell;
    }
}

/*图片大小始终填满父布局。（默认原图大小）*/
img {
    width: 100%; 
    height: 100%; // 与(block)父布局高度相同。

    // 小图保持原形，大图不超过布局。
    /*width: auto;
    height: auto;
    max-width: 100%;  // 最大不超过原图的xx%
    max-height: 100%;*/
}

/*BFC 与 清除浮动*/
@mixin clearfix {

    /*bfc--> 防止margin-top子元素与父元素一起偏移。*/
    &::before {
        content: "";
        display: table;
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
